.filter {
  margin: 0;
  font-size: 12px;
}

.checkbox {
  display: none;
}

.label {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 68px;
  cursor: pointer;
  word-break: break-word;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  font-size: 30px;
  border: 2px dotted var(--filters-outline-color);
  border-radius: var(--border-radius);
}

.checkbox:checked + .label .icon {
  border-color: var(--outline-color);
  background-color: antiquewhite;
}