.page {
  font-family: var(--font-geist-sans);
}

.main {
  padding: 20px;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
}

@media (prefers-color-scheme: dark) {
}
